*{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
img{
    width: 80%;
    margin: 0 auto;
    display: block;
}
#logo{
    top:30%;
}
.center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.btn{
    background-color: #00AF9F;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 3px 3px 5px 0px grey;
}

.btn:hover{
    box-shadow: inset 3px 3px 5px 0px grey;
}

.btnCon{
    color:white;   
}

h1{
    color: #00AF9F;
}

.formCont{
    width: 90%;
    height: auto;
    margin: 20px;
    padding: 10px;
    color:#00AF9F;
}

button{
    color:white;
}

form{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}
